/** Mobile nav **/

#nav-content[aria-expanded="true"] {
    display: block;
}

#nav-toggle[aria-expanded="true"] .close {
    display: inline-block;
}

#nav-toggle[aria-expanded="true"] .open {
    display: none;
}

:host ::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
}