<br>
<div class="h-screen page-container grid place-items-center">
    <div class="greeting-container grid place-items-center">
        <img class="max-w-none rounded-full border-solid border-8 border-white" src="/assets/images/vfs.jpeg" alt="Producteurs de la VFS ">
        <div class="text-center text-white">
            <p class="font-bold text-5xl m-4"><span class="animate-pulse">AgriCash </span> 👋</p>
            <p class="uppercase text-2xl mt-16">Réseau <span class="animate-pulse">❤</span> Points service</p>
        </div>
    </div>
</div>